<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>java-assignment</display-name>
  <welcome-file-list>
    <welcome-file>HomeServlet</welcome-file>
  </welcome-file-list>
  <filter>
  		<filter-name>admin</filter-name>
  		<filter-class>com.java.filter.AdminFilter</filter-class>
  </filter>
 
   <filter>
  		<filter-name>site</filter-name>
  		<filter-class>com.java.filter.SiteFilter</filter-class>
  </filter>
  <filter-mapping>
  		<filter-name>site</filter-name>
  		<url-pattern>/AddCartServlet</url-pattern>
  		<url-pattern>/CartServlet</url-pattern>
  		<url-pattern>/CheckoutServlet</url-pattern>
  		<url-pattern>/RemoveCartServlet</url-pattern>
  		<url-pattern>/UpdateCartServlet</url-pattern>
  		<url-pattern>/OrderServlet</url-pattern>
  		<url-pattern>/DetailOrderServlet</url-pattern>
  		<url-pattern>/CancelOrderServlet</url-pattern>
  		<url-pattern>/CommentServlet</url-pattern>
  </filter-mapping>

   <filter-mapping>
  		<filter-name>admin</filter-name>
  		<url-pattern>/AdminCustomerServlet</url-pattern>
  		<url-pattern>/AdminDiscountServlet</url-pattern>
  		<url-pattern>/AdminHomeServlet</url-pattern>
  		<url-pattern>/AdminLogoutServlet</url-pattern>
  		<url-pattern>/AdminOrderServlet</url-pattern>
  		<url-pattern>/AdminProductServlet</url-pattern>
  		<url-pattern>/AdminUpdateOrderServlet</url-pattern>
  		<url-pattern>/CustomerDeleteServlet</url-pattern>
  		<url-pattern>/CustomerFormServlet</url-pattern>
  		<url-pattern>/CustomerRestoreServlet</url-pattern>
  		<url-pattern>/CustomerUpdateServlet</url-pattern>
  		<url-pattern>/DiscountFormServlet</url-pattern>
  		<url-pattern>/DiscountUpdateServlet</url-pattern>
  		<url-pattern>/OrderCancelServlet</url-pattern>
  		<url-pattern>/OrderSearchServlet</url-pattern>
  </filter-mapping>
 
</web-app>